<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.microfountain.scanbarcordes">
    <uses-sdk tools:overrideLibrary="
    androidx.camera.camera2, androidx.camera.core,           androidx.camera.view, androidx.camera.lifecycle" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity
            android:name=".barcodescanner.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat"></activity>

        <activity
            android:name=".barcodescanner.CameraXLivePreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat"></activity>
    </application>
</manifest>